{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<h1>Home Page</h1>

<form method="GET" action="/core/logout">
    <input type="submit" value="Logout">
</form>

<h2>Here are all your tweets!</h2>

<form method="POST" action="/core/">
    {% csrf_token %}

    <input type="text" name="body" required placeholder="tweet here" minlength="1" maxlength="280">
    <button type="submit">Tweet</button>
</form>

<form method="GET" action="/core">
    <button type="submit" name="filter" value="all">All Tweets</button>
    <button type="submit" name="filter" value="user">My Tweets</button>
</form>

{% for tweet in tweets %}
    <p>{{ tweet.get_datetime }}</p>
    <p>{{ tweet.author }}</p>
    <p>{{ tweet.title }}</p>
    <p>{{ tweet.body }}</p>

    <hr>
{% endfor %}

{% endblock %}
