{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<h1>Login Page</h1>

<h1>Sign Up</h1>
<form method="POST" action="/core/login/">
    {% csrf_token %}

    <input type="text" name="username" required placeholder="username" minlength="1" maxlength="50"/>
    <input type="password" name="password" required placeholder="password" minlength="1" maxlength="50"/>
    <button type="submit">Sign Up</button>
</form>

<h1>Log In</h1>
<form method="POST" action="/core/login/">
    {% csrf_token %}

    <input type="text" name="username" required placeholder="username" minlength="1" maxlength="50"/>
    <input type="password" name="password" required placeholder="username" minlength="1" maxlength="50"/>
    <button type="submit">Log In</button>
</form>

<form method='GET' action='/core'>
  <button type='submit'>Skip Login</button>
</form>

{% endblock %}


